<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>db-view</title>

  <!-- 引入样式 -->
  <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
  <!-- 引入组件库 -->

</head>
<body>
<div id="app">
  <h1>{{message}}</h1>

  <el-container>
    <el-header>
      <!--      <el-row :gutter="20">-->
      <!--        <el-col span="6">-->
      <!--          <div class="grid-content bg-purple">-->
      <!--            <el-input placeholder="请输入内容" v-model="input"-->
      <!--                      width="100px"></el-input>-->
      <!--          </div>-->
      <!--        </el-col>-->

      <!--        <el-col span="6">-->
      <!--          <div class="grid-content bg-purple">-->
      <!--            <el-input placeholder="请输入内容" v-model="input"-->
      <!--                      width="100px"></el-input>-->
      <!--          </div>-->
      <!--        </el-col>-->

      <!--        <el-col span="6">-->
      <!--          <div class="grid-content bg-purple">-->
      <!--            <el-input placeholder="请输入内容" v-model="input"-->
      <!--                      width="100px"></el-input>-->
      <!--          </div>-->
      <!--        </el-col>-->

      <!--        <el-col span="6">-->
      <!--          <div class="grid-content bg-purple">-->
      <!--            <el-input placeholder="请输入内容" v-model="input"-->
      <!--                      width="100px"></el-input>-->
      <!--          </div>-->
      <!--        </el-col>-->
      <!--        </el-col>-->


      <!--      </el-row>-->


    </el-header>
    <el-container>
      <el-aside width="200px">
        <div id="left">

          <el-row :key="item" v-for="item in show_databases">
            <el-button @click="table_click">
              {{ item }}
            </el-button>
          </el-row>
        </div>
      </el-aside>


      <el-main>

        <el-table :data="data_list">
          <el-table-column :label="date" v-for="(date, key) in header">
            <template scope="scope">
              {{data_list[scope.$index][key]}}
            </template>
          </el-table-column>
        </el-table>


        </el-table>
      </el-main>
    </el-container>
  </el-container>

</div>

</body>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-VZ6m0F78+yo3sbu48gElK4irv2dzPoep8oo9LEjxviigcnnnNvnTOJRSrIhuFk68FMLOpiNz+T77nNY89rnWDg=="
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>

  var app = new Vue({
    el: '#app',
    data: {
      message: "dada",
      show_databases: ["123", "321"],
      show_tables: [],
      header: ["column1", "column2", "column3"],
      data_list: [
        [1, 2, 3],
        [4, 5, 6]
      ]

    },
    methods: {
      get_dbs: function () {
        axios.get("show/db").then(response => {
          this.show_databases = response.data.data;
        });
      },
      get_tables: function (db_name) {
        axios.get("show/table", {params: {db: db_name}}).then(response => {
          this.show_tables = response.data.data;
        });
      },
      table_find_all: function (db_name, table_name) {
        axios.get("/table/findAll", {
          params: {
            dbName: db_name,
            tableName: table_name
          }
        }).then(response => {
          this.header = response.data.data.filedName;
          this.data_list = response.data.data.showData;
        })

      },
      table_click: function () {
        console.log("啊啊啊啊");
      },
      exc: function () {
        axios.post("/sql/exc", {
          "sql": "SELECT * FROM `hs_work_order_rw`",
          "db": "shandsmod3"
        }).then(response => {
          this.header = response.data.data.filedName;
          this.data_list = response.data.data.showData;
        })
      }
    },
    created: function () {
      console.log("aaa");
      this.exc();
    }
  })


</script>
<style>
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>
</html>